*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
C:\Users\bstac\Documents\Dokumenty Bartek\STUDIA\SEMESTR V\Systemy Mobilne\PROJKET_MOBILKI\NoteScan\app\src\main\res\values\secrets.xml

